node_modules
build
.env
.env.*
.git
.gitignore
npm-debug.log
yarn-debug.log*
yarn-error.log*
.DS_Store
.idea
*.swp
*.swo
*~
logs
*.pid
*.seed
*.pid.lock
.dynamodb
.rpt2_cache/
.rts2_cache_*/
.tests2_cache_*/
.yarn-integrity
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.vscode/
*.tgz